// Colores
$primary-color: rgba(212, 0, 0, 1);
$secondary-color: rgba(255, 255, 255, 0.178);
$text-color: #8b0000;
$button-bg: transparent;
$button-border: transparent;
$hover-bg: rgba(0, 0, 0, 0.1);

// Fuentes
$heading-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$body-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

// Dimensiones
$game-box-size: 150px;
$character-box-size: 150px;
$trailer-width: 560px;
$trailer-height: 315px;

// Sombras
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$text-shadow: red 1px 1px;
